.background {
  background-color: #0F1217;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 25vh;
  min-height: 150px;
  max-height: 200px;
}

.main-container {
  background-color: #D54040;
  height: 100%;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px
}

.side-container {
  background-color: #141920;
  height: 100%;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 10px
}

.title {
  color: white;
  font-size: 26px;
}

.input-login {
  margin-top: 20px;
  border: none;
  background-color: #902E2E;
  height: 40px;
  border-radius: 10px;
  color: #D54040;
  font-size: 20px;
}